# Codenation problem set - Melhores colocados ENEM

### Score: 100%
### Ranking: 23º

In [15]:
import numpy as np
import pandas as pd

Reads the training csv and selects only the columns that matters (the "student id" and his grades).

In [54]:
data = pd.read_csv('train.csv', usecols=['NU_INSCRICAO', 'NU_NOTA_CN', 'NU_NOTA_CH', 'NU_NOTA_LC', 'NU_NOTA_MT', 'NU_NOTA_REDACAO'])

Checks out the first 5 rows from the dataset.

In [55]:
data.head()

,NU_INSCRICAO,NU_NOTA_CN,NU_NOTA_CH,NU_NOTA_LC,NU_NOTA_MT,NU_NOTA_REDACAO
0,ed50e8aaa58e7a806c337585efee9ca41f1eb1ad,436.3,495.4,581.2,399.4,520.0
1,2c3acac4b33ec2b195d77e7c04a2d75727fad723,474.5,544.1,599.0,459.8,580.0
2,f4545f8ccb9ff5c8aad7d32951b3f251a26e6568,NaN,NaN,NaN,NaN,NaN
3,3d6ec248fef899c414e77f82d5c6d2bffbeaf7fe,NaN,NaN,NaN,NaN,NaN
4,bf896ac8d3ecadd6dba1dfbf50110afcbf5d3268,NaN,NaN,NaN,NaN,NaN

As you can see, there are several roles with NaN grades, so we have to drop them.

In [56]:
data = data.dropna()

It's time to perform the final grade calculation according to what the challenge says:

matemática: 3  
ciências da natureza: 2  
linguagens e códigos: 1.5  
ciências humanas: 1  
redação: 3

In [57]:
data['NOTA_FINAL'] = (data['NU_NOTA_MT'] * 3 + data['NU_NOTA_CN'] * 2 + data['NU_NOTA_LC'] * 1.5 + \
    data['NU_NOTA_CH'] + data['NU_NOTA_REDACAO'] * 3) / 5

Then I sort the rows by the "NOTA_FINAL" column in an descending order, and select only the first 20 rows.
The second line tells me the number of (rows, columns) from the dataframe, just to check if everything is as it should be.

In [58]:
data = data.sort_values('NOTA_FINAL', ascending=False)[:20]
data.shape

(20, 7)

Now I just dropped every other column rather than "NU_INSCRICAO" and "NU_NOTA_FINAL", and printed the dataframe again for one final checkup.

In [64]:
final_df = data[['NU_INSCRICAO', 'NOTA_FINAL']]
final_df

                                   NU_INSCRICAO  NOTA_FINAL
10801  848daf808904864c1ee5d51545a2539e2dcbe901     1751.71
3226   97166da67df0908861a868cf318b277c4bdbb0da     1739.25
3682   b733ccac4e5b7c1da0448f1dad7990ec0793b1d2     1720.98
9011   78ca18b6fea7ccd3e067b3945cf200f8686209a7     1716.40
4755   8588b01c2ff81ad3c9ff31cd89fc094896c4aa69     1708.71
12707  19982f867b8f23a829a2f738374770708ec7f263     1700.87
6039   17ae668ce9041105883e9db101d614f58d526f66     1698.58
10219  3326c76719930f9838bc9ef803fe1b73a1668723     1689.04
1509   41489fd85a5d0cb6e397fb5ebcd19d32e9265cb7     1685.95
3535   32767c1a152919a1f72fa91afe19bb7c559f2824     1681.58
11334  ac5057ba1f029c2c37bc55c82f3ea3e4b8bcb0ce     1678.61
10951  7c7c16a3ebd04e3b4a42e086a447a64fc6fa0996     1669.45
9602   e9a67323f3cce292a7fd1528311470edb38f82d9     1665.71
4564   9eaa35afce755aeef24faee5ec0e78612f52b56c     1659.42
5913   c0bb9d9a29e686a5ef35f2443738d4bd8544a290     1655.89
3792   c771c44232f6ae553494cf7085f2b3e515841133     1654.41
499    4c29d5913f759e503efae77c531a713d48dfb512     1653.37
13191  61f38d59bbcfa4897a2e14740bec95e087e2e06f     1651.34
3080   b8912a162392742129d79ff0c625cfc02a425811     1645.12
10387  05a0ee9c17758662d1e5a985cac6d7e0938d3a58     1642.04

Finally, I use the to_csv method to export the dataframe as a csv and submit the challenge using the command:

codenation submit -c enem-1

In [67]:
final_df.to_csv('./answer.csv', index=False)